body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffa973;
    color: #f0f8ff;
}
button:hover {
    background-color: #dfff69;
    transition-duration: 0.4s;
}

.button {
    /* DEFAULT */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e8dcca;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #beb3a2;
    transition-duration: 0.4s;
    color: white;
}

.canvas {
    border: 0px solid rgb(255, 255, 255);
    margin: 40px;
    border-radius: 24px;
    background-color: #f0f8ff;
    /* margin: 10px; */
}

.toolbox {
    /*
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    */

    display: flex;
    height: 40px;
    margin: 5px;
    padding: 5px;
}

.toolboxButton {
    width: 150px;
    height: 100%;
    background-color: #f1f1f1;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
